.videoContainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.button-style {
  cursor: pointer;
  background: #333;
  border-radius: 5px;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 5px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.2s;
}

.button-style:hover {
  background-color: #555;
  transform: scale(1.05);
}

.label-style {
  cursor: pointer;
  background: #333;
  border-radius: 5px;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 5px;
  width: 152px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.2s;
}

.label-style:hover {
  background-color: #555;
  transform: scale(1.05);
}

.backgroundContainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 80vh;
  margin: auto;
}

.backgrounds img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.loader {
  width: 100%;
  height: 100%;
}

.presentation-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(220px);
}


@media (max-width: 769px) {
  .container {
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
  }

  .videoContainer {
    width: 100%;
    height: 50%;
  }

  .video {
    height: 95%;
  }

  .backgroundContainer {
    width: 100%;
    height: 50%;
  }

  .videoContent {
    width: 95%;
    height: 95%;
    margin-bottom: 0px;
  }

  .backgrounds {
    width: 95%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .file-upload {
    margin-bottom: 5px;
  }
}

#vbackground {
  display: none;
}
