services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
  webhook:
    build:
      context: ..
      dockerfile: docker/Dockerfile.webhook
    ports:
      - "9000:9000"
    depends_on:
      - api
  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
      - REACT_APP_API_URL=http://localhost:8000
      - REACT_APP_WEBHOOK_URL=http://webhook:9000/webhook
      - REACT_APP_SOCKET_URL=http://localhost:9000
    depends_on:
      - api
      - webhook
